/**
 * grid布局
 * ========
 */

/*
 DOM
 ---

 * 多行
 ```
    <div class="atom-g -lg">
        <div class=row>
            <div class=col-5-24></div>
        </div>
    </div>
 ```

 * 单行
 ```
    <div class="atom-g -lg">
        <div class=col-5-24></div>
    </div>
 ```
 */
