/* ==========================================================================
   Setting
   ========================================================================== */

// 变量必须以$开头, 这样可以很好地区分变量和css关键字，而且增加了变量名的数量,
// 为什么不用@， @在css中有特殊的意义

/**
 * 基础单位，通常为px, 或rem
 */
$base-unit = 'px'

//兼容ie
$support-old-ie = true

//设备，mobile, pc
$device = 'pc'

// font
$base-font-family = 'Sum Song', 'Microsoft Yahei','Helvetica Neue', Arial, sans-serif
$base-font-size = 75%


// color
$default-dark  = #3
$default-gray  = #6
$default-light = #e
$default-bg    = #ea
$text-color    = #3
$border-color  = #c

// radius
$default-radius = m(5)


//z-index layer
$z-index-offset   = 1000
$bottom-z-index   = $z-index-offset
$middle-z-index   = $z-index-offset * 2
$top-z-inex       = $z-index-offset * 3

//prefix
$prefix = 'h2o-';

//size level
$ty = 'ty'
$sm = 'sm'
$md = 'md'
$lg = 'lg'
$xl = 'xl'
