/* ==========================================================================
   Button Component
   ========================================================================== */

// setting

// object
.button
  display inline-block
  padding 0 m(30)
  h m(30)
  border 1px solid border-color
  background default-bg
  &:active
    line-height m(32)
  &.radius
    border-radius default-radius

/*
  // radius
  &.-radius,
  &--radius
    border-radius default-radius


  // x-large
  &.-xl,
  &--xl
    font-size m(30)
    h u(50)
    &:active
      line-height u(52)

  // large
  &.-lg,
  &--lg
    font-size u(25)
    h u(40)
    &:active
      line-height u(42)
*/
