/* ==========================================================================
   Button element
   ========================================================================== */

//setting
$ty.height = $ty.line-height =  m(15)

/**
 ```html
 <button name="button" class="button">按钮</button>
 ```
 */
.button
  display inline-block
  padding 0 m(30)
  h m(30)
  border 1px solid $border-color
  background $default-bg
  &:active
    line-height m(32)
  &.radius
    border-radius $default-radius
  &.ty
    h $ty.height
  // &.sm
  // &.md
  // &.lg
  // &.xl
